.footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    min-height: 60px;
}


.content{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}